@model Library_Management.Models.Dtos.EditBookDto

@{
    ViewData["Title"] = "Edit Book";
}

<h2>Edit Book</h2>

<form action="@Url.Action("EditBook", "Admin")" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="form-group mb-3">
        <label for="title">Title</label>
        <input name="title" class="form-control" placeholder="Title" value="@Model.title" />
    </div>

    <div class="form-group mb-3">
        <label for="author">Author</label>
        <input name="author" type="text" class="form-control" placeholder="Author" value="@Model.author" />
    </div>

    <div class="form-group mb-3">
        <label for="ISBN">ISBN</label>
        <input name="ISBN" type="text" class="form-control" placeholder="ISBN" value="@Model.ISBN" />
    </div>

    <div class="form-group mb-3">
        <label for="totalQuantity">Quantity</label>
        <input name="totalQuantity" type="number" class="form-control" placeholder="Quantity" value="@Model.totalQuantity" />
    </div>

    <div class="form-group mb-3">
        <label for="rentPrice">Rent Price</label>
        <input name="rentPrice" type="number" class="form-control" placeholder="Rent Price" value="@Model.rentPrice" />
    </div>

    <button type="submit" class="btn btn-success">Update</button>
    <a href="@Url.Action("BookList", "Admin")" class="btn btn-secondary ms-2">Cancel</a>
</form>